.carousel {
  width: 100%;
  text-align: center;
  height: 100%;
  margin: 50px 10px;
  display: flex;
  flex-direction: column;
  padding: 50px 50px;
  gap: 30px;
}

.title {
  font-size: 36px;
  color: #545454;
  margin-bottom: 30px;
}

.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  position: relative;
}

.imageContainer {
  display: flex;
  gap: 100px;
  overflow: hidden;
  align-items: center;
}

.imageMGH {
  width: auto;
  height: 60px;
}

.imageMaterno {
  width: auto;
  height: 90px;
  transition: transform 0.3s ease-in-out;
}

.image {
  width: auto;
  height: 50px;
}

/* Involucrados */

.involucradosCarrusel {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.InvolucradosimageContainer {
  display: flex;
  gap: 120px;
  margin-top: -10px;
}

.arrowInvolucrados {
  cursor: pointer;
  width: 50px;
  height: 40px;
}
