.all {
  text-align: center;
  margin: 90px;
  height: 100%;
}

.imgContainer {
  width: 60%;
}
.imagen {
  object-fit: contain;
}

.container {
  display: flex;
  gap: 50px;
}

.Componentes {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  border-top: 1px solid black;
  width: 100%;
}

.asociadoComponente {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 50px;
}

.tituloContainer {
  display: flex;
  gap: 20px;
}

.imgBandera {
  width: 30px;
  height: 30px;
}

.textoContainer {
  display: flex;
  flex-direction: column;
  gap: 17px;
  text-align: left;
}

.textoContainerProesa {
  display: flex;
  flex-direction: column;
  gap: 17px;
  text-align: left;
  margin-left: -5px;
}

.textoContainer h3 {
  color: #1d2130;
  letter-spacing: 0;
}

.textoContainer a {
  color: #4192ef;
}

.textoContainer a:hover {
  text-decoration: underline;
}

.nihLow {
  display: flex;
  justify-content: left;
  color: #525560;
  font-weight: 200;
  gap: 3rem;
  font-size: small;
}

.textoContainerProesa h3 {
  color: #1d2130;
  letter-spacing: 0;
}

.textoContainerProesa a {
  color: #4192ef;
}

.textoContainerProesa a:hover {
  text-decoration: underline;
}
