.content {
  width: 35%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  text-align: left;
}

.content h4 {
  font-size: 20px;
  letter-spacing: 1;
  font-weight: bold;
  margin-left: 10px;
}

.yellow {
  color: #f2c94c;
}

.pink {
  color: #ffb6e8;
}

.content p {
  font-weight: lighter;
}
